.vscode
Ankama Launcher
aseprite
autostart
cef_user_data
chromium
citra-emu
Code - OSS
code-oss
composer
configstore
dconf
desmume
discord
dolphin-emu
draw.io
Electron
godot
jgit
kde.org
lutris
menus
Microsoft
Microsoft Teams - Preview
netlify
obs-studio
OpenTabletDriver
procps
protonfixes
session
systemd
teams
yarn
zaap
dolphinrc
kritadisplayrc
kritarc
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
baloofileinformationrc
